.wrapper {
  display: grid;
  background-color: rgb(231, 231, 233);
  width: 100%;
  height: 600px;
  grid-template-areas:".                 .                 icon               .                       fav"
                        "location      .               forecast            .                   forecastdate"
                        "forecastcard     forecastcard     forecastcard     forecastcard      forecastcard" ;
  grid-template-rows: 20% 50% 40%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.forecast-card-holder{
 grid-area: forecastcard;
 display: flex;
 flex-direction: row;
  align-items: flex-end;
}

.icon{
  grid-area: icon;
  display: flex;
  justify-content: center;
  align-items: center;
  place-self: inherit;
}

.fav{
  grid-area: fav;
  place-self: end;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-date{
  grid-area: forecastdate;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.forecast-temp{
  grid-area: forecast;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.location{
  grid-area: location;
  place-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}