.App {
  text-align: center;
}
body{
  background-color: rgb(236, 236, 236);
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  font-family: 'Roboto' ;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@media only screen and (max-width: 800px) {

  .wrapper {
    display: grid;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-image: url('/city_backdrop.jpg');
    background-size: cover;
    /* opacity: 0.1; */
    color: rgb(255, 255, 255);
    width: 100%;
    height: 700px;
    grid-template-areas:  "fav"
                          "icon"
                          "location"
                          "forecast"
                          "forecastdate"
                          "forecastcard"
                          "forecastcard"
                          "forecastcard"
                          "forecastcard"
                          "forecastcard" !important;
    grid-template-rows: 1fr 1fr 1fr  1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
    grid-template-columns: auto !important;
  }
 .fav{
  justify-self: center !important;
 }
  .header{
    flex-direction: column !important;
  }
  .forecast-card-holder{
    flex-direction: column !important;
  }
  .location{
    height: auto !important;
  }
  .search-bar{
    width: 200px !important;
  }
}

